html {
    scroll-behavior: smooth;
    transition: 0.8s;
}

body {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    margin: 0;
    background-color: #ACC8E5;
    color: #112A46;
    width: 100vw;
}

/*nav section*/

.name {
    display: none;
}

.arrow {
    display: none;
}

.backToTop {
    display: none;
}

nav {
    display: none;
}

/*header section*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 29px),
    repeating-linear-gradient(#ACC8E5, #ACC8E5);
    height: 80vh;
}

.icons {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    font-size: 1.8rem;
}

.icons a {
    color: #112A46;
}

header h1 {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
}

header h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem;
}

/*about me section*/

.avatar {
    width: 10rem;
    border-radius: 30%;
    margin-top: 1rem;
}

.aboutMe {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    border-radius: 5%;
    margin: 4rem 1rem;
}
.aboutMe h4 {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.lists li {
    margin: 1rem;
}

.aboutMe h3 {
    font-size: 2.4rem;
    margin: 2rem;
    text-align: center;
}

.aboutMe p {
    margin: 0 2rem;
    padding: 1rem 0;
}

.logo {
    display: inline;
    color: #112A46;
    height: 1.5rem;
}

span {
    font-weight: bold;
}

/*projects section*/

.title {
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
}

.projectLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
    background-color: #ffffff;
    margin: 1rem 0;
    width: 20rem;
}

.projects h3 {
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 0 1rem;
    text-align: center;
}

.projects p {
    padding: 0 1rem;
    text-align: center;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links {
    text-align: center;
}

/*footer*/

footer {
    background-color: white;
    padding: 2rem 0;
}

footer p {
    text-align: center;
}

.copyright {
    font-weight: 100;
    font-size: 0.8rem;
}

#top a:hover {
    transform: scale(1.1);
    color: #0a1e32;
    transition: 0.5s;
}

#contactLink a:hover {
    transform: scale(1.1);
    color: #0a1e32;
    transition: 0.5s;
}

#headerLink a:hover {
    transform: scale(1.1);
    color: #0a1e32;
    transition: 0.5s;
}

.projectLayout a {
    text-decoration: none;
    color: #0a1e32;
}


@media screen and (min-width: 640px) {

    /*nav section*/
    .name {
        display: inline;
        margin-top: 0.5rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 3rem;
        height: 10vh;
        font-size: 1rem;
        background-color: white;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #112A46;
        padding: 1.5rem 0;
    }

    .navOne {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }

    .navTwo {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 0;
    }

    .navLinks {
        display: flex;
        gap: 2rem;
    }

    header {
        height: 90vh;
    }

    header h1 {
        font-size: 4rem;
    }

    header h3 {
        height: 3rem;
    }

    nav a:hover {
        text-decoration: underline;
    }

    /*About me section */
    .pattern {
        background-image: url("https://io-academy.uk/wp-content/themes/ioacademy/img/homepage-top.svg");
        background-size: cover;
    }
    .avatar {
        width: 10rem;
        padding: 2rem 0 2rem 0;
        margin-right: 10rem;
        margin-top: 5rem;
    }

    .lists {
        display: flex;
        gap: 1rem;
    }

    .aboutMe h4 {
        text-align: left;
        margin-left: 2rem;
    }

    .aboutMe {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 5rem 0;
        margin-top: 0;
    }

    .aboutMe h3 {
        text-align: left;
        font-size: 5rem;
        padding: 1rem;
    }

    .aboutMe p {
        line-height: 1.8;
    }

    /*project section*/
    .title {
        text-align: right;
        font-size: 5rem;
        padding-top: 4rem;
        margin-right: 15rem;
    }

    .projectLayout {
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 2rem 4rem;
    }

    .projects {
        margin: 2rem;
        width: 30rem;
        height: 22rem;
        justify-content: flex-start;
        color: transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: solid 1px black;
    }

    .projects a {
        color: transparent;
    }

    .projects:hover a {
        color: #112A46;
    }

    .projects img {
        display: none;
    }

    .languages {
        justify-content: center;
        align-items: center;
    }

    /*projects hover section*/

    #collectorApp {
        background-image: url("assets/collectorApp.png");
    }

    #collectorApp:hover {
        background-image: none;
        color: #112A46;
    }

    #jsGame {
        background-image: url("assets/jsGame.png");
    }

    #jsGame:hover {
        background-image: none;
        color: #112A46;
    }

    #reactApp{
        background-image: url("assets/reactProject.png");
    }

    #reactApp:hover {
        background-image: none;
        color: #112A46;
    }

    #API{
        background-image: url("assets/furnitureStore.png");
    }

    #API:hover {
        background-image: none;
        color: #112A46;
    }

    #iOPortal {
        background-image: url("assets/academyPortal.png");
    }

    #iOPortal:hover {
        background-image: none;
        color: #112A46;
    }

    #toDo {
        background-image: url("assets/toDo.png");
    }

    #toDo:hover {
        background-image: none;
        color: #112A46;
    }

    #journeyPlanner {
        background-image: url("assets/journeyPlanner.png");
    }

    #journeyPlanner:hover {
        background-image: none;
        color: #112A46;
    }

    #weatherApp {
        background-image: url("assets/weatherApp.png");
    }

    #weatherApp:hover {
        background-image: none;
        color: #112A46;
    }

    #recipeFinder {
        background-image: url("assets/recipeFinder.png");
    }

    #recipeFinder:hover {
        background-image: none;
        color: #112A46;
    }

    #countriesByContinent {
        background-image: url("assets/countriesByContinent.png");
    }

    #countriesByContinent:hover {
        background-image: none;
        color: #112A46;
    }


    /*  Footer */
    footer {
        gap: 2rem;
        flex-direction: column;
        background-color: white;
    }

    .backToTop {
        display: block;
        color: #112A46;
        font-size: 2rem;
        margin: 0;
    }

    footer .icons {
        font-size: 3rem;
    }

}

